.header{
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
}
.header .header-wrapper{
    display:flex;
    padding:30px 0;
}
.header .header-wrapper .logo h1 a{
    color:#093a58;
    display:block;
    font-size:1.4rem;
}
.header .header-wrapper .main-menu{
    flex-grow: 2;
    direction: rtl;
}
.header .header-wrapper .main-menu ul{
    display:flex;
    gap: 30px;
}
.header .header-wrapper .main-menu ul li a{
    color: #3acec2;
    display: block;
    text-transform:uppercase;
    font-size:1.02rem;
    padding:0.5em;
}
.header .header-wrapper .main-menu ul li a:hover{
    color: #093a58;
}
.deatail .hero{
    background:#3acec2;
    color:#fff;
    padding:150px 0 50px 0;
    text-align: center;
}
.deatail .hero-section img{
    width: 190px;
    height:auto;
    margin-bottom:30px;
}
.deatail .hero-section p{
    font-size:1.5rem;
    margin-top: 10px;
}
.deatail .content-wrapper{
    display:flex;
    gap:4%;
    padding:7% 0;
}
.deatail .content-wrapper .first, .deatail .content-wrapper .third{
    width:30% ;
}
.deatail .content-wrapper .second{
    width: 40%;
}
.deatail .content-wrapper .column h2{
    color:#093a58;
    margin-bottom:5%;
    font-size:1.5rem;
}
.deatail .content-wrapper .column p{
    padding: 3% 0;
    line-height:150%;
    font-size:1rem;
    color: #3a3a3a;
}
.deatail .content-wrapper .second .extra-content{
    position:relative;
}
.deatail .content-wrapper .second .extra-content .extra{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(9, 58, 88, 0.8) ;
    padding:3%;
    color:#fff;
    text-align: center;
}
.deatail .content-wrapper .second .extra-content .extra p{
    color:#fff;
    line-height:100%;
    text-align: left;
}
.footer{
    text-align: center;
    width:100%;
    background:rgb(217, 228, 234);
    color:black;
    font-size: 1.1rem;
    padding:50px
}